### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
#Check data frame import 
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
school_data['school_name'].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [4]:
#Check both dataframes have same number of schools 
print(len(school_data["school_name"].unique()))
print(len(school_data_complete["school_name"].unique()))

15
15

In [5]:
#Calculate the total number of schools 
total_schools= len(school_data_complete["school_name"].value_counts())
total_schools

15

In [6]:
#Calculate the total number of students
total_students = len(school_data_complete["Student ID"].value_counts())
total_students

39170

In [7]:
#Calculate the total budget 
total_budget = school_data["budget"].sum()
total_budget

24649428

In [8]:
#Calculate the average math score 
average_maths_score = school_data_complete["maths_score"].mean()
average_maths_score

70.33819249425581

In [9]:
#Calculate the average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

69.98013786060761

In [10]:
#Calculate the percentage of students with a passing math score (>=50) 
maths_pass = school_data_complete["maths_score"] >=50
pass_maths_percentage = (maths_pass.sum()/total_students)*100
pass_maths_percentage

86.07863160582077

In [11]:
#Calculate the percentage of students with a passing reading score (>=50) 
reading_pass= school_data_complete["reading_score"] >=50
pass_reading_percentage = (reading_pass.sum()/total_students)*100
pass_reading_percentage

84.42685728874139

In [12]:
#Calculate the percentage of students who passed both maths and reading (%Overall Passing) 
pass_both_total = ((maths_pass) & (reading_pass)).sum()
pass_both_percentage = (pass_both_total/total_students)*100
pass_both_percentage

72.80827163645647

In [13]:
#Create a dataframge to hold the LGA Summary called area_summary 
area_summary = {"Total Schools" : total_schools,
                            "Total Students": [total_students],
                            "Total Budget": total_budget,
                            "Average Maths Score" : average_maths_score,
                            "Average Reading Score" : average_reading_score,
                            "Passing Maths (%)" : pass_maths_percentage,
                            "Passing Reading (%)": pass_reading_percentage,
                            "Overall Passing (%)" : pass_both_percentage}
area_summary = pd.DataFrame(area_summary)

area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,}".format)
area_summary["Average Maths Score"] = area_summary["Average Maths Score"].map("{:,.2f}%".format)
area_summary["Average Reading Score"] = area_summary["Average Reading Score"].map("{:,.2f}%".format)
area_summary["Passing Maths (%)"] = area_summary["Passing Maths (%)"].map("{:,.2f}%".format)
area_summary["Passing Reading (%)"] = area_summary["Passing Reading (%)"].map("{:,.2f}%".format)
area_summary["Overall Passing (%)"] =area_summary["Overall Passing (%)"].map("{:,.2f}%".format)

area_summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,Passing Maths (%),Passing Reading (%),Overall Passing (%)
0,15,"39,170","$24,649,428",70.34%,69.98%,86.08%,84.43%,72.81%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [14]:
# Set school name as index and retrieve type values
school_type = school_data.set_index(["school_name"])["type"]

In [15]:
# Set a variable for total_students 
total_students = school_data_complete['school_name'].value_counts()
total_students

school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64

In [16]:
# Set a Variable for total school budget 
total_school_budget = school_data_complete.groupby(["school_name"])["budget"].mean()
total_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [17]:
# Set a variable to calculate budget per student
per_student_budget = total_school_budget/total_students
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
# Set a variable to calculate the average maths score per school 
average_maths_score = school_data_complete.groupby(["school_name"])["maths_score"].mean()
average_maths_score

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [19]:
# Sert a variable to calculate the avaergae reading score per school 
average_reading_score = school_data_complete.groupby(["school_name"])["reading_score"].mean()
average_reading_score

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [20]:
# Set a dataframe that shows all students that have passed maths  
students_passing_maths = school_data_complete[school_data_complete["maths_score"]>=50]
students_passing_maths

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
5,5,Bryan Miranda,M,9,Huang High School,88,93,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39164,39164,Joseph Anthony,M,9,Thomas High School,97,79,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

In [21]:
# Set a variable to calculate the total amount of students who passed maths per school  
total_students_passing_maths = students_passing_maths.groupby(["school_name"]).size()
total_students_passing_maths

school_name
Bailey High School       4560
Cabrera High School      1688
Figueroa High School     2408
Ford High School         2258
Griffin High School      1339
Hernandez High School    3752
Holden High School        384
Huang High School        2383
Johnson High School      3907
Pena High School          882
Rodriguez High School    3631
Shelton High School      1612
Thomas High School       1371
Wilson High School       1890
Wright High School       1652
dtype: int64

In [22]:
# Set a variable that calculates the percentage of students who passed maths 
percentage_students_passing_maths = (total_students_passing_maths/ total_students)*100
percentage_students_passing_maths

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [23]:
# Set a dataframe shows all students who passed reading 
students_passing_reading = school_data_complete[school_data_complete["reading_score"]>=50]
students_passing_reading.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
5,5,Bryan Miranda,M,9,Huang High School,88,93,0,Government,2917,1910635

In [24]:
# Set a variable that calculates the amount of students who passed reading per school 
total_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
total_students_passing_reading

school_name
Bailey High School       4348
Cabrera High School      1655
Figueroa High School     2442
Ford High School         2252
Griffin High School      1299
Hernandez High School    3795
Holden High School        378
Huang High School        2376
Johnson High School      3903
Pena High School          833
Rodriguez High School    3495
Shelton High School      1527
Thomas High School       1351
Wilson High School       1856
Wright High School       1560
dtype: int64

In [25]:
# Set a variable that calculates the percentage of students who passed reading per school 
percentage_students_passing_reading = (total_students_passing_reading/ total_students)*100
percentage_students_passing_reading

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [26]:
# Set a dataframe that combines all students who passed maths and reading. 
passing_both_df = school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)]
passing_both_df.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
5,5,Bryan Miranda,M,9,Huang High School,88,93,0,Government,2917,1910635
6,6,Sheena Carter,F,11,Huang High School,73,60,0,Government,2917,1910635

In [27]:
# Set a variable that groups the students who passed both maths and reading per school 
passing_both = passing_both_df.groupby(["school_name"]).size()
passing_both

school_name
Bailey High School       3985
Cabrera High School      1501
Figueroa High School     1995
Ford High School         1848
Griffin High School      1194
Hernandez High School    3076
Holden High School        337
Huang High School        1946
Johnson High School      3199
Pena High School          762
Rodriguez High School    3176
Shelton High School      1389
Thomas High School       1136
Wilson High School       1540
Wright High School       1435
dtype: int64

In [28]:
# Set a variable that calculates the percentage of students who passed both maths and reading per school 
percentage_overall_pass = (passing_both/total_students)*100
percentage_overall_pass

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

In [29]:
# Create a data frame calkled per_school_summary that summarise all information per school 
per_school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_students,
    "Total School Budget": total_school_budget,
    "Per Student Budget": per_student_budget,
    "Average Maths Score":average_maths_score,
    "Average Reading Score": average_reading_score,
    "% Passing Maths": percentage_students_passing_maths,
    "% Passing Reading": percentage_students_passing_reading,
    "% Overall Passing": percentage_overall_pass
})

#Formatting Data in Total School Budget and Total School Budget
per_school_summary.index.names=['']
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:.2f}".format)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [30]:
# Create a dataframe that displays the top five performing schools by overall passing percentage 
top_schools = per_school_summary.sort_values("% Overall Passing", ascending=False)
top_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,,,,,,,,,
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [31]:
# Create a dataframe that displays the bottom five performing schools by overall passing percentage 
bottom_schools = per_school_summary.sort_values("% Overall Passing")
bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
,,,,,,,,,
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [32]:
#Create and assign variable for each year level 
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

In [33]:
#Calculate and assign variables for each year level's average maths score 
year_nine_average_maths = year_nine.groupby(["school_name"])["maths_score"].mean() 
year_ten_average_maths = year_ten.groupby(["school_name"])["maths_score"].mean() 
year_eleven_average_maths = year_eleven.groupby(["school_name"])["maths_score"].mean() 
year_twelve_average_maths = year_twelve.groupby(["school_name"])["maths_score"].mean()

In [34]:
#Combine the series into a data frame 
maths_score_by_year = pd.DataFrame({
    "Year 9" : year_nine_average_maths,
    "Year 10" : year_ten_average_maths,
    "Year 11" : year_eleven_average_maths,
    "Year 12" : year_twelve_average_maths,
})

#Format the data frame 
maths_score_by_year.index.names=['']
maths_score_by_year["Year 9"] = maths_score_by_year["Year 9"].map("{:.2f}%".format)
maths_score_by_year["Year 10"] = maths_score_by_year["Year 10"].map("{:.2f}%".format)
maths_score_by_year["Year 11"] = maths_score_by_year["Year 11"].map("{:.2f}%".format)
maths_score_by_year["Year 12"] = maths_score_by_year["Year 12"].map("{:.2f}%".format)
maths_score_by_year

                       Year 9 Year 10 Year 11 Year 12

Bailey High School     72.49%  71.90%  72.37%  72.68%
Cabrera High School    72.32%  72.44%  71.01%  70.60%
Figueroa High School   68.48%  68.33%  68.81%  69.33%
Ford High School       69.02%  69.39%  69.25%  68.62%
Griffin High School    72.79%  71.09%  71.69%  71.47%
Hernandez High School  68.59%  68.87%  69.15%  68.99%
Holden High School     70.54%  75.11%  71.64%  73.41%
Huang High School      69.08%  68.53%  69.43%  68.64%
Johnson High School    69.47%  67.99%  68.64%  69.29%
Pena High School       72.00%  72.40%  72.52%  71.19%
Rodriguez High School  71.94%  71.78%  72.36%  72.15%
Shelton High School    72.93%  72.51%  70.10%  72.33%
Thomas High School     69.23%  70.06%  69.66%  69.37%
Wilson High School     69.21%  69.46%  68.38%  69.79%
Wright High School     71.74%  72.18%  73.28%  70.85%

## Reading Score by Year

* Perform the same operations as above for reading scores

In [35]:
#Calculate and assign variables for each year level's average reading score 
year_nine_average_reading = year_nine.groupby(["school_name"])["reading_score"].mean() 
year_ten_average_reading = year_ten.groupby(["school_name"])["reading_score"].mean() 
year_eleven_average_reading = year_eleven.groupby(["school_name"])["reading_score"].mean() 
year_twelve_average_reading = year_twelve.groupby(["school_name"])["reading_score"].mean()

In [37]:
#Combine the series into a data frame 
reading_scores_by_year = pd.DataFrame({
    "Year 9" : year_nine_average_reading,
    "Year 10" : year_ten_average_reading,
    "Year 11" : year_eleven_average_reading,
    "Year 12" : year_twelve_average_reading,
})

#Format the data frame 
reading_scores_by_year.index.names=['']
reading_scores_by_year["Year 9"] = reading_scores_by_year["Year 9"].map("{:.2f}%".format)
reading_scores_by_year["Year 10"] = reading_scores_by_year["Year 10"].map("{:.2f}%".format)
reading_scores_by_year["Year 11"] = reading_scores_by_year["Year 11"].map("{:.2f}%".format)
reading_scores_by_year["Year 12"] = reading_scores_by_year["Year 12"].map("{:.2f}%".format)

reading_scores_by_year

                       Year 9 Year 10 Year 11 Year 12

Bailey High School     70.90%  70.85%  70.32%  72.20%
Cabrera High School    71.17%  71.33%  71.20%  71.86%
Figueroa High School   70.26%  67.68%  69.15%  69.08%
Ford High School       69.62%  68.99%  70.74%  68.85%
Griffin High School    72.03%  70.75%  72.39%  69.43%
Hernandez High School  68.48%  70.62%  68.42%  69.24%
Holden High School     71.60%  71.10%  73.31%  70.48%
Huang High School      68.67%  69.52%  68.74%  68.67%
Johnson High School    68.72%  69.30%  69.97%  67.99%
Pena High School       70.95%  72.32%  71.70%  71.51%
Rodriguez High School  70.90%  70.14%  71.42%  71.41%
Shelton High School    70.72%  69.88%  71.15%  69.07%
Thomas High School     69.67%  69.74%  70.75%  68.73%
Wilson High School     68.68%  68.41%  68.80%  69.89%
Wright High School     71.82%  71.39%  70.48%  69.82%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [38]:
# Establish bins for spending per student 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [39]:
# Set a dataframe that summarises the school spending and categorises each school by bins provided 
school_spending_df = per_school_summary[["Per Student Budget", "Average Maths Score","Average Reading Score","% Passing Maths","% Passing Reading", "% Overall Passing"]]
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_student_budget,spending_bins, labels = labels, include_lowest=True)
school_spending_df.head()

C:\Users\jesss\AppData\Local\Temp\ipykernel_15064\943253834.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_student_budget,spending_bins, labels = labels, include_lowest=True)

,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
,,,,,,,
Bailey High School,$628.00,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
Cabrera High School,$582.00,71.657158,71.359526,90.850377,89.074273,80.785791,<$585
Figueroa High School,$639.00,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Ford High School,$644.00,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
Griffin High School,$625.00,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630

In [40]:
# Set variables for each average % in maths per school 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [41]:
# Create at data frame called spending_summary that summarises the average spending range per student 
spending_summary = pd.DataFrame({
    "Average Maths Score" : spending_math_scores,
    "Average Reading Score" : spending_reading_scores,
    "% Passing Maths" :spending_passing_math,
    "% Passing Reading" : spending_passing_reading,
    "% Overall Passing" : overall_passing_spending
})

#Format the data frame 
spending_summary["Average Maths Score"] = spending_summary["Average Maths Score"].map("{:.2f}".format) 
spending_summary["Average Reading Score"] = spending_summary["Average Reading Score"].map("{:.2f}".format) 
spending_summary["% Passing Maths"] = spending_summary["% Passing Maths"].map("{:.2f}".format) 
spending_summary["% Passing Reading"] = spending_summary["% Passing Reading"].map("{:.2f}".format) 
spending_summary["% Overall Passing"] = spending_summary["% Overall Passing"].map("{:.2f}".format) 
spending_summary = spending_summary.groupby("Spending Ranges (Per Student)")
spending_summary.max()

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

## Scores by School Size

In [42]:
#Establish Bins for School Size 
size_bins = [0, 1000, 2000, 5000]
size_labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [43]:
# Set a dataframe that summarises the information erquired and categorises each school by school size bins provided 
score_by_size_df = per_school_summary[["Total Students", "Average Maths Score","Average Reading Score","% Passing Maths","% Passing Reading", "% Overall Passing"]]
score_by_size_df["School Size"] = pd.cut(total_students, size_bins, labels = size_labels, include_lowest=True)
score_by_size_df.head()

C:\Users\jesss\AppData\Local\Temp\ipykernel_15064\1661587675.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  score_by_size_df["School Size"] = pd.cut(total_students, size_bins, labels = size_labels, include_lowest=True)

,Total Students,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing,School Size
,,,,,,,
Bailey High School,4976,72.352894,71.008842,91.639871,87.379421,80.084405,Large (2000-5000)
Cabrera High School,1858,71.657158,71.359526,90.850377,89.074273,80.785791,Medium (1000-2000)
Figueroa High School,2949,68.698542,69.077993,81.654798,82.807731,67.650051,Large (2000-5000)
Ford High School,2739,69.091274,69.572472,82.438846,82.219788,67.469880,Large (2000-5000)
Griffin High School,1468,71.788147,71.245232,91.212534,88.487738,81.335150,Medium (1000-2000)

In [44]:
# Set variables per school 
size_maths_scores = score_by_size_df.groupby(["School Size"])["Average Maths Score"].mean()
size_reading_scores = score_by_size_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_maths = score_by_size_df.groupby(["School Size"])["% Passing Maths"].mean()
size_passing_reading = score_by_size_df.groupby(["School Size"])["% Passing Reading"].mean() 
overall_passing_size = score_by_size_df.groupby(["School Size"])["% Overall Passing"].mean()

In [45]:
# Create a data frame called size_summary 
size_summary = pd.DataFrame({
          "Average Maths Score" : size_maths_scores,
          "Average Reading Score": size_reading_scores,
          "% Passing Maths": size_passing_maths,
          "% Passing Reading": size_passing_reading,
          "% Overall Passing": overall_passing_size})

#Format the data frame 
size_summary["Average Maths Score"] = size_summary["Average Maths Score"].map("{:.2f}".format) 
size_summary["Average Reading Score"] = size_summary["Average Reading Score"].map("{:.2f}".format) 
size_summary["% Passing Maths"] = size_summary["% Passing Maths"].map("{:.2f}".format) 
size_summary["% Passing Reading"] = size_summary["% Passing Reading"].map("{:.2f}".format) 
size_summary["% Overall Passing"] = size_summary["% Overall Passing"].map("{:.2f}".format) 
size_summary.head()

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.34,71.64,90.81,87.56,79.07
Medium (1000-2000),71.42,70.72,89.85,86.71,78.04
Large (2000-5000),69.75,69.58,84.25,83.30,70.29

* Perform the same operations as above, based on school size.

## Scores by School Type

In [46]:
# Create a data frame that includes all the following columns School Type, Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading, % Overall Passing
score_by_type_df = per_school_summary[["School Type", "Average Maths Score","Average Reading Score","% Passing Maths","% Passing Reading", "% Overall Passing"]]

In [47]:
# Set variables per school 
type_maths_scores = score_by_type_df.groupby(["School Type"])["Average Maths Score"].mean()
type_reading_scores = score_by_type_df.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_maths = score_by_type_df.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_reading = score_by_type_df.groupby(["School Type"])["% Passing Reading"].mean() 
overall_passing_type = score_by_type_df.groupby(["School Type"])["% Overall Passing"].mean()

In [48]:
# Create a dataframe to summarise scores by school type 
type_summary = pd.DataFrame({
          "Average Maths Score" : type_maths_scores,
          "Average Reading Score": type_reading_scores,
          "% Passing Maths": type_passing_maths,
          "% Passing Reading": type_passing_reading,
          "% Overall Passing": overall_passing_type})

#Format the dataframe 
type_summary["Average Maths Score"] = type_summary["Average Maths Score"].map("{:.2f}".format) 
type_summary["Average Reading Score"] = type_summary["Average Reading Score"].map("{:.2f}".format) 
type_summary["% Passing Maths"] = type_summary["% Passing Maths"].map("{:.2f}".format) 
type_summary["% Passing Reading"] = type_summary["% Passing Reading"].map("{:.2f}".format) 
type_summary["% Overall Passing"] = type_summary["% Overall Passing"].map("{:.2f}".format) 

type_summary.head()

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.83,69.68,84.46,83.59,70.70
Independent,71.37,70.72,89.20,86.25,76.97

In [49]:
#yay!